
body{
    background-color: hsl(30, 54%, 90%);
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0;
}


#outer{   
    width: 50%;
    background-color: white;
    border-radius: 1%;
    padding: 2.5rem;
    margin: 0 auto;
    color: hsl(30, 10%, 34%);
}

img{
    height: 100%;
    width: 100%;
    border-radius: 3%;
}
h1,b{
    color: hsl(24, 5%, 18%);
}
div,table{
    font-size: 16px;
    font-family: "Outfit";
    font-weight: 400;
    padding: 0.3rem;
    margin: 0;
}
#main{
    padding: 0;
}
h1,h2{
    font-family: "Young Serif";
    font-weight: 500;
}
h2{
    color: hsl(14, 45%, 36%);
}
#Preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 3%;
}
#Preparation h3{
    color: hsl(332, 51%, 32%);
    padding-left: 1rem;
}
.marker li::marker, .datamarker{
    color: hsl(14, 45%, 36%);
}

.bullets li::marker{
   color: hsl(332, 51%, 32%); 
}
ul,ol {
    padding: 0;
    padding-left: 1.5rem;
    margin: 0;

}
li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
#Preparation ul{
    padding-left: 2.5rem;
}

tr.line td,.line,.Instructions,.Ingredients{
    border-bottom: 1px solid hsl(30, 18%, 87%);  
}
.firstdata,.datamarker{
    padding:1rem;
}
.firstdata{
    padding-left: 2.5rem;
}
@media(max-width:375px){
    body{
    padding-top: 0;
    padding-bottom: 0;
    }  
    #outer{
    width: 100%;
    padding: 0%
    }
    #main{
        padding: 1rem;
    }
    img{
        border-radius: 0;
    }
}