
body{
    background-color: hsl(30, 18%, 87%);
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#outer{   
    width: 50%;
    background-color: white;
    border-radius: 1%;
    padding: 3%;
    margin: 0 auto;   /* centers the div horizontally */
}

img{
    height: 100%;
    width: 100%;
    border-radius: 3%;
}

div,table{
    font-size: 16px;
    font-family: "Outfit";
    font-weight: 400;
    text-align: justify;
    padding: 1%;
    margin: 0;
}
#main{
    padding: 0;
}
h1,h2{
    font-family: "Young Serif";
    font-weight: 500;
}
h2{
    color: hsl(14, 45%, 36%);
}
#Preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 3%;
}
#Preparation h3{
    color: hsl(332, 51%, 32%);
    padding-left: 2%
}
.marker li::marker, .datamarker{
    color: hsl(14, 45%, 36%);
}

ul li, ol li{
    padding: 1%;
}
tr.line td,.line,.Instructions,.Ingredients{
    border-bottom: 1px solid #ccc;  /* light gray like <hr> */
}
.firstdata,.datamarker{
    padding:2%
}
.firstdata{
    padding-left: 8%;
}
@media(max-width:375px){
    body{
    padding-top: 0;
    padding-bottom: 0;
    }  
    #outer{
    width: 100%;
    padding: 0%
    }
    #main{
        padding: 5%;
    }
    img{
        border-radius: 0;
    }
}